body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: rgb(188, 224, 188);
    text-align: center;

}
header {
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/447/761/non_2x/abstract-red-fluid-wave-background-free-vector.jpg);
    color: black;
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
}   
header h1  {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.action-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(252, 248, 248);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;


}
.action-button:hover {
    background: #0056b3;
}
.Features {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.Feature {
    margin: 10px;
    padding: 20px;
    background-color: lightcyan;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3 ease , box-shadow 0.3s ease;



}
.Feature :hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15)

}
footer {
    background: lightcoral;
    color: black;
    text-align: center;
    padding: 10px 0;

}
footer nav {
    list-style: none;
    padding: 0;
}
footer nav ul li a {
    color: black;
    text-decoration: none;
   
}
nav li {
    display: inline-block;
    margin: 40;

}
